* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header,
nav,
.container,
.footer {
  width: 100%;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
}

.logo-god-war {
  width: 200px;
  z-index: 2;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/fondo-main.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.link-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 30px;
}

.link-header a {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.3s, background-clip 0.5s;
}

.link-header a:hover {
  transform: scale(1.1);
  background: linear-gradient(
    90deg,
    rgba(0, 74, 255, 1) 0%,
    rgba(9, 45, 121, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button-main {
  padding: 12px 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 74, 255, 1) 0%,
    rgba(9, 45, 121, 1) 100%
  );
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.button-main:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.container-descriptions {
  width: 38vw;
  max-width: 600px;
  color: #fff;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.container-descriptions h2 {
  font-size: 65px;
  font-weight: 700;
}

.container-descriptions p {
  font-size: 18px;
  font-weight: 400;
}

/* Sección de imágenes */
.container-img {
  background-image: url(./assets/background2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 50vh;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.div-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.div-button:nth-of-type(1) {
  background-image: url(./assets/img1.jpg);
}

.div-button:nth-of-type(2) {
  background-image: url(./assets/img2.jpg);
}

.div-button:nth-of-type(3) {
  background-image: url(./assets/img3.jpg);
}

.div-button button {
  background-color: #fff;
  z-index: 3;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  opacity: 0.6;
  cursor: pointer;
  font-weight: bold;
}

.div-button button:hover {
  opacity: 0.9;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.div-button:nth-of-type(1) button {
  background-color: rgba(0, 0, 0, 0.63);
  color: #fff;
}

.div-button:nth-of-type(1) button:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 74, 255, 1) 0%,
    rgba(9, 45, 121, 1) 100%
  );
}

.footer {
  height: auto;
  padding: 10px 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 74, 255, 1) 0%,
    rgba(9, 45, 121, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  gap: 40%;
  z-index: 3;
}

.footer img {
  width: 30px;
  height: 30px;
}

.footer h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1100px) {
  .link-header {
    display: none;
  }

  .logo-god-war {
    width: 40%;
  }

  .button-main {
    font-size: 12px;
  }

  .container {
    min-height: 70vh;
    justify-content: center;
  }

  .container-descriptions {
    align-items: center;
    width: 80%;
    max-width: none;
    margin: 0;
  }

  .container-descriptions h2 {
    font-size: 38px;
  }

  .container-descriptions p {
    text-align: center;
  }

  .container-img {
    flex-direction: column;
  }

  .footer h3 {
    font-size: 12px;
    gap: 10px;
  }
}
